.vscode
Personal Projects\Python-Intro-CNN\__pycache__
Personal Projects/Python-Intro-CNN/__pycache__/conv.cpython-311.pyc
Personal Projects/Python-Intro-CNN/__pycache__/maxpool.cpython-311.pyc
Personal Projects/Python-Intro-CNN/__pycache__/softmax.cpython-311.pyc
